@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
    font-family: "IntroRust";
    src: url("../FONTS/IntroRust.otf") format('opentype');
}


body, html {
    margin: 0;
    left: 0;
    font-family: "Poppins", sans-serif;
}
.container-all {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #121212;
}

/* navbar lateral */
#navbar-lateral {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 100%;
}

#area-logo-hoopdunk {
    background-image: url("../IMAGE/ofc-logo-hoopdunk.png");
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 25%;
    cursor: pointer;
}

#menu-navbar {
    color: white;
    height: 55%;
    width: 80%;
    display: flex;
    border-bottom: 1px solid gray;
}
#menu-navbar ul {
    list-style: none;
    font-family: "IntroRust", sans-serif;
    color: #cdcdcd;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    gap: 40px;
    padding: 0;
}
#menu-navbar ul li {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: 0.2s ease;
}
#menu-navbar ul li:hover {
    color: white;
    font-size: 17px;
}
.icon {
    width: 30px;
}

#area-perfil {
    height: 20%;
    width: 80%;
    color: white;
    display: flex;
    align-items: center;
    gap: 25px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s ease-in;
}
#area-perfil:hover {
    background-color: rgba(43, 42, 42, 0.623);
}
.foto-perfil {
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    height: 45%;
    width: 22%;
}
#nicknames {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}
.nomeUsuario {
    font-weight: 800;
}
.nickname {
    color: #757575;
    font-weight: 700;
}

/* posts */
#area-posts {
    width: 50%;
    height: 100%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
#area-send-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
}
#content-post {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 70%;
    width: 90%;
}
.post {
    width: 60px;
    height: 55px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
#desc-post {
    font-family: "Poppins", sans-serif;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    width: 90%;
    flex-wrap: nowrap;
    resize: none;
}
#functions-post {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: space-between;
    height: 30%;
    width: 84%;
    gap: 30px;
}
#functions-post label {
    width: 6%;
    height: 70%;
}
#send-photo {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#foto_post {
    display: none;
    width: 70%;
    height: 350px;
    background-image: url('../IMAGE/foto-ishowspeed.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    margin-bottom: 15px;
}
#ipt_foto_post {
    display: none;
}
#functions-post button {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    background-color: #888888;
    width: 13%;
    height: 30px;
    border-radius: 15px;
    border: none;
    margin-right: 15px;
    cursor: pointer;    
}

/* pesquisar e seguidores */

#area-explorar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 100%;
    gap: 25px;
    overflow-y: auto;
    scrollbar-width: none; 
}

#area-pessoas {
    width: 90%;
    height: 85%;
    display: flex;
    flex-direction: column;
}
#area-pessoas h3{
    color: #cdcdcd;
    font-family: "IntroRust", sans-serif;
}
#para-seguir {
    height: 100%;
    width: 100%;
}
.pessoa-seguir {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 15%;
    transition: 0.4s ease;
}
.pessoa-seguir:hover {
    background-color: #292929;
    border-radius: 25px;
    cursor: pointer;
}
.pessoa-seguir img {
    width: 17%;
    height: 60%;
    border-radius: 50%;
}
.info-pessoa {
    width: 55%;
    display: flex;
    flex-direction: column;
}
.info-pessoa label {
    font-size: 14px;
    font-weight: 800;
    color: white;
}
.info-pessoa span {
    font-size: 12px;
    color: gray;
    font-weight: 700;
}
.pessoa-seguir button {
    border-radius: 15px;    
    width: 22%;
    height: 35%;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 11px;
    background-color: #b4926b;
    border: none;
    transition: 0.2s ease;
    cursor: pointer;
}
.pessoa-seguir button:hover {
    transform: scale(1.05);
    background-color: wheat;
    color: black;
}

/* POSTS */
#posts-all {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
    overflow: auto;
    scrollbar-width: none; 
}

.posts {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 0px 15px 0px;
    width: 100%;
    color: white;
    font-size: 16px;
    border-bottom: 2px solid rgba(53, 53, 53, 0.541);
}
.area1-post {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 50px;
    align-items: start;
}
.infoUser {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 15px;
    color: gray;
    
}
.foto-user-post {
    width: 55px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.infos-user-post {
    display: flex;
    gap: 5px;
    width: 500px;
    height: 30px;
    align-items: center;
    color: white;
}
.arroba {
    font-size: 14px;
    color: gray;
    font-weight: 700;
}
.data_post {
    color: gray;
    font-weight: 600;
    font-size: 14px;
}
.foto_posts {
    width: 77%;
    height: 100%;
    /* talvez mudar aqui */
}
.foto_posts img {
    width: 75%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}
.descricao_post {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 76%;
    font-size: 15px;
    padding-bottom: 5px;
}
#edit-post {
    color: gray;
    cursor: pointer;
}


/* area explorar */

.search-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

#area-pesquisar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 12%;
}
#input-pesquisar {
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 30%;
    border: 1px solid gray;
    border-radius: 50px;
}
#input-pesquisar img {
    width: 2.75%;
    height: 75%;
}
#input-pesquisar input {
    width: 89%;
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 400;
    font-size: 14px;
    background-color: transparent;
    border: none;
    outline: none;
}

#search_result {
    height: 87%;
    width: 100%;
    color: white;
    display: none;
}
.params-search {
    display: flex;
    width: 100%;
    height: 8%;   
}
.params-search button {
    font-family: "Poppins",sans-serif;
    background-color: transparent;
    width: 50%;
    border: none;
    transition: 0.4s ease;
    color: white;
}
#pessoas-search {
    border-right: 1px solid gray;
}
.params-search button:hover {
    border-bottom: 1px solid rgb(28, 28, 226);
}
#body-search {
    height:92%;
    overflow-y: auto;
    scrollbar-width: none; 
    
}
.pessoa-search {
    display: flex;
    align-items: center;
    width: 100%;
    height: 15%;
    border-bottom: 1px solid gray;
    gap: 10px;
    transition: 0.4s ease;
    cursor: pointer;
}
.pessoa-search:hover {
    background-color: rgba(75, 74, 74, 0.178);
    border-radius: 25px;
}
.pessoa-search img {
    margin-left: 25px;
    width: 8%;
    height: 65%;
    border-radius: 50%;
}
.pessoa-info-search {
    display: flex;
    flex-direction: column;
    font-size: 13px;
}
.arroba_pessoa_search {
    color: gray;
    font-weight: 700;
}


